.bgdiv {
  height: 80vh;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.149);
  border-radius: 30px;
  border: 2px solid rgb(243, 228, 187);
  position: relative;
}

.JRImg {
  margin-top: 3%;
  width: 60%;
}

.BGImg {
  top: 8%;
  width: 77vw;
  display: flex;
  position: initial;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}
.HEROImg {
  position: absolute;
  top: 4px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10; /* higher than BG */
  height: 79vh;
}
.Other {
  position: relative;
  top: 11%;
  left: 4%;
}
.Slogunimg {
  position: relative;
  top: 3%;
  left: 37%;
  width: 23%;
}
.reactdev {
  position: absolute;
  z-index: 10;
  width: 40%;
  right: 2%;
  bottom: 30%;
}
.githubimg {
  position: absolute;
  left: 4%;
  bottom: 20%;
}
.linkdimg {
  position: absolute;
  left: 8%;
  bottom: 20%;
}
.facebookimg {
  position: absolute;
  left: 12%;
  bottom: 20%;
}
.instagramimg {
  position: absolute;
  left: 16%;
  bottom: 20%;
}
.gmailimg {
  position: absolute;
  left: 18%;
  bottom: 18%;
  width: 8%;
}
.Description {
  position: absolute;
  bottom: 4%;
  left: 2%;
  z-index: 99;
  width: 96%;
}
